# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\omerm\OneDrive\שולחן העבודה\אוניבסיטה\שנה ג סמסטר א\בינה מלאכותית\עבודה 3\planning\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
